@model OtobusBiletiUygulamasi.Areas.Admin.ViewModels.AuthLogin

@{
    ViewBag.Title = "Register Page";
}

<style>
    .form-control {
        width: 35%;
        margin: 0 auto;
        width: 250px;
    }

    .container {
        text-align: center;
    }
</style>

<div class="container">
    <h1>Admin Uyeligi</h1>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "Password" })
        </div>

        <input class="btn btn-primary" type="submit" value="Register" />
    }
</div>
