@model OtobusBiletiUygulamasi.ViewModels.BusTicket

@{
    ViewBag.Title = "Otobus Bileti";
}

@{ 
    var tempStr = "seatCharts-seat seatCharts-cell economy-class target";
}

<style>
    form{
        width: 50%;
        float:left;
    }

    td {
        padding : 2px;
    }

    .booking-details {
        float: left;
        align-content:center;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #fafafa;
    }

    a {
        color: #b71a4c;
    }

    .front-indicator {
        width: 145px;
        background-color: #f6f6f6;
        color: #adadad;
        text-align: center;
        margin: 0 auto;
        padding: 3px;
        border-radius: 5px;
    }

    .wrapper {
        width: 100%;
        text-align: center;
        margin-top: 150px;
    }

    .container {
        margin: 0 auto;
        width: 500px;
        text-align: left;
    }

    .booking-details {
        float: left;
        text-align: left;
        margin-left: 35px;
        font-size: 12px;
        position: relative;
        height: 401px;
    }

        .booking-details h2 {
            margin: 25px 0 20px 0;
            font-size: 17px;
        }

        .booking-details h3 {
            margin: 5px 5px 0 0;
            font-size: 14px;
        }

    div.seatCharts-cell {
        color: #182C4E;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }

    div.seatCharts-seat {
        color: #FFFFFF;
        cursor: pointer;
    }

    div.seatCharts-row {
        height: 35px;
    }

    div.seatCharts-seat.available {
        background-color: #B9DEA0;
    }

    div.seatCharts-seat.focused {
        background-color: #76B474;
    }

    div.seatCharts-seat.selected {
        background-color: #E6CAC4;
    }

    div.seatCharts-seat.unavailable {
        background-color: #472B34;
    }

    div.seatCharts-container {
        border-right: 1px dotted #adadad;
        width: 200px;
        padding: 20px;
        float: left;
    }

    div.seatCharts-legend {
        padding-left: 0px;
        position: absolute;
        bottom: 16px;
    }

    ul.seatCharts-legendList {
        padding-left: 0px;
    }

    span.seatCharts-legendDescription {
        margin-left: 5px;
        line-height: 30px;
    }

    .checkout-button {
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }

    #selected-seats {
        max-height: 90px;
        overflow-y: scroll;
        overflow-x: none;
        width: 170px;
    }
</style>

<div class="container">
    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.YolcuAd, "Adiniz :") <br />
            @Html.TextBoxFor(x => x.YolcuAd, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.YolcuSoyad, "Soyadiniz :") <br />
            @Html.TextBoxFor(x => x.YolcuSoyad, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.KimlikNo, "TC Kimlik Numaraniz :") <br />
            @Html.TextBoxFor(x => x.KimlikNo, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Telefon, "Telefon Numaraniz :") <br />
            @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Email, "Email Adresiniz :") <br />
            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.KoltukNo, "Koltuk Numarasi :") <br />
            @Html.TextBoxFor(x => x.KoltukNo, new { @class = "form-control" })
        </div>

        <input class="btn btn-primary" type="submit" value="Bilet Olustur" /> <br>
    }

    </div>

    <div class="container">
        <div class="wrapper">
            <div id="seat-map" class="seatCharts-container" tabindex="0" aria-activedescendant="4_4">
                <table>
                    <thead class="front-indicator">
                        <tr>
                            <th>F</th>
                            <th>R</th>
                            <th>O</th>
                            <th>N</th>
                            <th>T</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(1)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">1</div>
                            </td>   
                            <td>
                                <div id="2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(2)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">2</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="3" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(3)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">3</div>
                            </td>
                            <td>
                                <div id="4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(4)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">4</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(5)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">5</div>
                            </td>
                            <td>
                                <div id="6" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(6)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">6</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="7" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(7)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">7</div>
                            </td>
                            <td>
                                <div id="8" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(8)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">8</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="9" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(9)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">9</div>
                            </td>
                            <td>
                                <div id="10" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(10)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">10</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="11" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(11)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">11</div>
                            </td>
                            <td>
                                <div id="12" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(12)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">12</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="13" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(13)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">13</div>
                            </td>
                            <td>
                                <div id="14" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(14)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">14</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="15" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(15)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">15</div>
                            </td>
                            <td>
                                <div id="16" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(16)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">16</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="17" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(17)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">17</div>
                            </td>
                            <td>
                                <div id="18" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(18)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">18</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="19" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(19)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">19</div>
                            </td>
                            <td>
                                <div id="20" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(20)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">20</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="21" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(21)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">21</div>
                            </td>
                            <td>
                                <div id="22" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(22)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">22</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="23" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(23)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">23</div>
                            </td>
                            <td>
                                <div id="24" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(24)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">24</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="25" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(25)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">25</div>
                            </td>
                            <td>
                                <div id="26" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(26)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">26</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="27" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(27)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">27</div>
                            </td>
                            <td>
                                <div id="28" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(28)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">28</div>
                            </td>
                            <td>
                                <div class="seatCharts-cell seatCharts-space"></div>
                            </td>
                            <td>
                                <div id="29" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(29)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">29</div>
                            </td>
                            <td>
                                <div id="30" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(30)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">30</div>
                            </td>
                        </tr>
                        <tr class="seatCharts-row">
                            <td>
                                <div id="31" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(31)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">31</div>
                            </td>
                            <td>
                                <div id="32" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(32)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">32</div>
                            </td>
                            <td>
                                <div id="33" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(33)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">33</div>
                            </td>
                            <td>
                                <div id="34" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(34)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">34</div>
                            </td>
                            <td>
                                <div id="35" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="@if (Model.Seats.Contains(35)) { @String.Concat(tempStr, " disabled unavailable"); } else { @String.Concat(tempStr, " available"); }">35</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="booking-details">
                <h2>Booking Details</h2>
                <h3> Selected Seats (<span id="counter">0</span>):</h3>
                <ul id="selected-seats"></ul>
                <button id="checkout-button" class="btn btn-success">Checkout &raquo;</button>

                <div id="legend" class="seatCharts-legend">
                    <ul class="seatCharts-legendList">
                        <li id="temp" class="seatCharts-legendItem">
                            <div class="seatCharts-seat seatCharts-cell available economy-class"></div>
                            <span class="seatCharts-legendDescription"> Available </span>
                        </li>
                        <li id="temp" class="seatCharts-legendItem">
                            <div class="seatCharts-seat seatCharts-cell unavailable economy-class"></div>
                            <span class="seatCharts-legendDescription"> Taken </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $("#selected-seats").on('click', '.seat-li', function () {
            $(this).closest('li').remove();
        })

        $('.seatCharts-seat').click(function () {
            $("#welp").remove
            $("#selected-seats").append('<li id="welp" class="seat-li" value = ' + $(this).attr('id') + ' > Selected ' + $(this).attr('id') + ' or CANCEL </li > ');
        });

        $('#checkout-button').click(function () {
            var seat_id = $("#welp").val();
            console.log(seat_id);   
            $('#KoltukNo').val(seat_id);
        });
        
    </script>