@model OtobusBiletiUygulamasi.ViewModels.BusTicket

@{
    ViewBag.Title = "Sold Ticket";
}

<h2>Sold Ticket</h2>


Yolcunun Adi : @Model.YolcuAd
Yolcunun Soyadi : @Model.YolcuSoyad
Yolcunun Telefon Numarasi : @Model.Telefon
Yolcunun Email Adresi : @Model.Email
Yolcunun Koltuk Numarasi : @Model.KoltukNo