@model OtobusBiletiUygulamasi.ViewModels.BusTicket

@{
    ViewBag.Title = "Sold Ticket";
}

<style>
    h1, h3 {
        text-align: center;
    }
</style>

<div class="col-md-12">
    <div class="center-block bilet-olus img-responsive">
        <h1 style="color:darkred">BİLETİNİZ OLUŞTURULDU</h1>
        <h3>YOLCULUĞUNUZDA BİZİ TERCİH ETTİĞİNİZ İÇİN TEŞEKKÜR EDER, İYİ YOLCULUKLAR DİLERİZ.</h3>
        <a href="~/Views/Home/Routes.cshtml">~/Views/Home/Routes.cshtml</a>
    </div>
</div>
<br />
<div class="container"> </div>
<h1>Yolcu Bilgileri</h1>
<table class="table table-striped table-hover">
    <thead class=".thead-dark">
        <tr>
            <th scope="col">Koltuk No</th>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">@Model.KoltukNo</td>
            <td>@Model.YolcuAd</td>
            <td>@Model.YolcuSoyad</td>
        </tr>
    </tbody>
</table>
</div>

<div class="container">
    <h1>Sefer Bilgileri</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nereden</th>
                <th scope="col">Nereye</th>
                <th scope="col">Binis Saati</th>
                <th scope="col">Inis Saati</th>
                <th scope="col">Tarih</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.nereden</td>
                <td>@Model.nereye</td>
                <td>@Model.binisSaat</td>
                <td>@Model.inisSaat</td>
                <td>@Model.tarih.ToString().Substring(0, 10)</td>
            </tr>
        </tbody>
    </table>

</div>
    <hr />

    <label>Ana Sayfaya Don</label> <br /> <button class="btn btn-default"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></button>