@model OtobusBiletiUygulamasi.Areas.Admin.ViewModels.BusForm

@{
    ViewBag.Title = "Add New Bus Route";
}

@{
    List<SelectListItem> busItems = new List<SelectListItem>();
    foreach (var bus in Model.Buses)
    {
        busItems.Add(new SelectListItem()
        {
            Text = bus.ID.ToString() + " - " + bus.BusName,
            Value = bus.ID.ToString()
        });
    }

    List<SelectListItem> soforItems = new List<SelectListItem>();
    foreach (var sofor in Model.Sofors)
    {
        soforItems.Add(new SelectListItem()
        {
            Text = sofor.ID.ToString() + " - " + sofor.SoforAd + " " + sofor.SoforSoyad,
            Value = sofor.ID.ToString()
        });
    }

    List<SelectListItem> muavinItems = new List<SelectListItem>();
    foreach (var muavin in Model.Muavins)
    {
        muavinItems.Add(new SelectListItem()
        {
            Text = muavin.ID.ToString() + " - " + muavin.MuavinAd + " " + muavin.MuavinSoyad,
            Value = muavin.ID.ToString()
        });
    }
}

<h1>@(Model.IsNew ? "Create A New Route" : "Update The Bus Route")</h1>

@using (Html.BeginForm("Form", "Bus"))
{
    if (!Model.IsNew)
    {
        @Html.HiddenFor(f => f._BusId)
    }

    @Html.ValidationSummary()

    <div class="form-group">
        @Html.DropDownListFor(model => model.BusID, busItems, "-- Select Bus --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(model => model.SoforID, soforItems, "-- Select Sofor --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(model => model.MuavinID, muavinItems, "-- Select Muavin --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KalkisDest)
        @Html.TextBoxFor(x => x.KalkisDest, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.VarisDest)
        @Html.TextBoxFor(x => x.VarisDest, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KalkisTime)
        @Html.TextBoxFor(x => x.KalkisTime, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.VarisTime)
        @Html.TextBoxFor(x => x.VarisTime, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KalkisDate)
        @Html.TextBoxFor(x => x.KalkisDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KoltukSayisi)
        @Html.TextBoxFor(x => x.KoltukSayisi, new { @class = "form-control", @Value = 35 })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Fiyat)
        @Html.TextBoxFor(x => x.Fiyat)
    </div>

    <input type="submit" value="@(Model.IsNew ? "Add New Bus" : "Update The Bus")" />
    <br />
    <a href="@Url.Action("Index")"> or cancel </a>
}