@model OtobusBiletiUygulamasi.Areas.Admin.ViewModels.BusForm

@{
    ViewBag.Title = "Add New Bus Route";
}


<h1>@(Model.IsNew ? "Create A New Route" : "Update The Bus Route")</h1>

@using (Html.BeginForm("Form", "Bus"))
{

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.KalkisDest)
            @Html.TextBoxFor(x => x.KalkisDest, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.VarisDest)
            @Html.TextBoxFor(x => x.VarisDest, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.KalkisTime)
            @Html.TextBoxFor(x => x.KalkisTime, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.VarisTime)
            @Html.TextBoxFor(x => x.VarisTime, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.KalkisDate)
            @Html.TextBoxFor(x => x.KalkisDate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.KoltukSayisi)
            @Html.TextBoxFor(x => x.KoltukSayisi, new { @class = "form-control", @Value = 35, disabled = "disabled"})
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Fiyat)
            @Html.TextBoxFor(x => x.Fiyat)
        </div>

        <input type="submit" value="@(Model.IsNew ? "Add New Bus" : "Update The Bus")" />
        <br />
        <a href="@Url.Action("Index")"> or cancel </a>
}

